<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeTube</title>
    <link rel="icon" type="image/png" href="./public/img/video.png">
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <header>
        <a href="/">
            <h1>Home<span class="tube">Tube</span> <span>Veloce</span></h1>
        </a>
        <div class="messages">
            <%- message %>
        </div>
    </header>
    <div class="container">
        <form action="/api/upload" enctype="multipart/form-data" method="POST">
            <input type="file" name="video" id="video">
            <!-- <input type="file" name="file" id="" multiple> -->
            <button aria-label="Choose yur video." class="btn-submit" type="submit">Submit</button>
        </form>
        <div class="videos"></div>
    </div>


    <script src="/public/js/main.js"></script>
</body>

</html>